@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    @*    <div class="sidebar">
        <NavMenu />
        </div>*@

    <main>
        @*        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <AuthorizeView>
            <Authorized>
            Welcome, @username
            <div class="logoutLink"><a href="/api/account/signOut">(Log out)</a></div>
            </Authorized>
            <NotAuthorized>
            Log in
            <a href="/api/account/login?provider=Microsoft" title="Microsoft account">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
            <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z" />
            </svg>
            </a>
            <a href="/api/account/login?provider=Google" title="Google account">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
            </svg>
            </a>
            </NotAuthorized>
            </AuthorizeView>
            </div>*@

        <nav class="border split-nav">
            <div>
                <span class="nav-brand"><a href="#">Folding story</a></span>
            </div>
            <div>
                <div class="collapsible">
                    <input id="collapsible1" type="checkbox" name="collapsible">
                    <button class="btn-small btn-mobile">
                        <label for="collapsible1">
                           <i class="bi bi-list menuIcon"></i>
                        </label>
                    </button>
                    <div class="collapsible-body">
                        <ul class="inline">
                            <AuthorizeView>
                                <Authorized>
                                    <li>
                                        Welcome, @username
                                        <div class="logoutLink"><a href="/api/account/signOut">(Log out)</a></div>
                                    </li>
                                </Authorized>
                                <NotAuthorized>
                                    <li>
                                        Log in
                                        <a href="/api/account/login?provider=Microsoft" title="Microsoft account">
                                           <i class="bi bi-microsoft"></i>

                                        </a>
                                        <a href="/api/account/login?provider=Google" title="Google account">
                                          <i class="bi bi-google"></i>

                                        </a>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string username = "N/A";
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var anotherauthstate = await authenticationStateTask;
        if (anotherauthstate?.User?.Identity?.IsAuthenticated == true)
        {
            username = anotherauthstate.User.Claims.FirstOrDefault(t => t.Type == System.Security.Claims.ClaimTypes.Name)?.Value ?? "ERROR";
        }
    }
}

<style type="text/css">
    .logoutLink {
        font-size: smaller;
        display: inline;
    }

    .nav-brand {
        font-size: xx-large;
    }

    .bi-microsoft, .bi-google{
        margin-left: 10px;
    }

    .menuIcon {
        font-size: 2.3em;
    }
</style>