@page "/"
@page "/{FilterType}"
@using FoldingStoryWeb.Shared
@using FoldingStoryWeb.Client.Shared
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient Http

<PageTitle>Folding stories</PageTitle>

<div class="container border shading introPanel">
    Greetings, traveller. This is a place of creativity and collaboration. Leave your burdens at the door and join this community of writers.
    <br /> Here you can create a new story with others, whether public or your friends and weave together fantastic adventures which could surprise even you.
    <br /> You can also read others' submissions should you choose to do so.
    <br /><br />
    <a href="/newStory">Click here</a> to start a new tale, or click on one of the existing ones to read them.
</div>

<div class="container border shading storiesPanel padding-small">
    <AuthorizeView>
        <Authorized>
            <ul class="breadcrumb border">
                <li>
                    @if (storyFilter == StoryFilter.Public)
                    {
                        @:Public stories
                    }
                    else
                    {
                        <NavLink href="/Public">Public stories</NavLink>
                    }
                </li>
                <li>
                    @if (storyFilter == StoryFilter.MyStories)
                    {
                        @:My stories
                    }
                    else
                    {
                        <NavLink href="/MyStories">My stories</NavLink>
                    }
                </li>
                <li>
                    @if (storyFilter == StoryFilter.RecentlyContributed)
                    {
                        @:Recently contributed
                    }
                    else
                    {
                        <NavLink href="/RecentlyContributed">Recently contributed</NavLink>
                    }
                </li>
            </ul>
        </Authorized>
    </AuthorizeView>
    <div style="text-align: center"><h3>Read a story</h3></div>

    @if (loadingStories)
    {
        <img class="loader" src="/loading.png" />
    }
    else
    {
        if (!stories.Any())
        {
            @:There seems to be nothing here. Try contributing to a story or create your own!
        }
        @foreach (var story in stories)
        {
            <StoryCard Story="@story" />
        }
    }
</div>
@*
    <AuthorizeView>
    <Authorized>

    <div class="container border shading storiesPanel padding-small">
    <div style="text-align: center"><h3>Your stories</h3></div>
    @foreach (var story in stories)
    {
    <StoryCard Story="@story" />
    }
    </div>

    </Authorized>
    </AuthorizeView>
*@


@code {
    [Parameter]
    public string? FilterType { get; set; }
    private StoryFilter storyFilter = StoryFilter.Public;

    private IEnumerable<StoryDto> stories = new StoryDto[0];
    private bool loadingStories = true;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        var anotherauthstate = await authenticationStateTask;

        if (Enum.TryParse<StoryFilter>(FilterType, out StoryFilter result))
        {
            storyFilter = result;
        }
        else
        {
            storyFilter = StoryFilter.Public;
        }

        if (storyFilter == StoryFilter.Public || anotherauthstate.User.Identity.IsAuthenticated)
        {
            loadingStories = true;
            stories = await Http.GetFromJsonAsync<IEnumerable<StoryDto>>("/api/stories?storyFilter=" + storyFilter) ?? new StoryDto[0];
            loadingStories = false;
        }
        StateHasChanged();
    }
}

<style type="text/css">
    .introPanel {
        padding: 10px;
    }

    .storiesPanel {
        margin-top: 10px;
        padding: 10px;
    }

    .breadcrumb {
        text-align: center;
    }

    .loader {
        margin: auto;
        border: none;
    }
</style>